
@{
    ViewData["Title"] = "Produktark logg inn";
}
<div id="app">
    <div class="container">
        <h3>Velkommen til produktark på geonorge.no</h3>
        <p>
            Du må logge inn for å få tilgang til produktarkene.
        </p>
        
    </div>
</div>
