<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <kentor.authServices  xdt:Transform="Replace"
                        assertionConsumerServiceUrl="http://produktark.test.geonorge.no/AuthServices/Acs"
                        entityId="http://produktark.test.geonorge.no/AuthServices"
                        returnUri="http://produktark.test.geonorge.no/">
    <identityProviders>
      <add entityId="https://idp-demo.arkitektum.no/saml2/idp/metadata.php" destinationUri="https://idp-demo.arkitektum.no/saml2/idp/SSOService.php" binding="HttpRedirect" allowUnsolicitedAuthnResponse="false">
        <signingCertificate storeName="TrustedPublisher" storeLocation="LocalMachine" findValue="2EAF5E9A24CD5CA0A46EA258566D3F462E1A63FA" x509FindType="FindByThumbprint" />
      </add>
    </identityProviders>
  </kentor.authServices>
  
</configuration>